$high: #F00F59;
html * {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
  color: #292929;
}

body {
  max-width: 900px;
  width: 90%;
  margin: auto;
  padding-top: 1em;
}

a {
  color: $high;
  text-decoration: none;
}

header, .controls {
  padding: 1em;
  margin-bottom: 1em;
  margin-right: 1em;
  float: left;
}

.tagline {
  margin-top: -.5em;
  color: #ccc;
}

.board {
  width: 90%;
  max-width: 60vh;
  margin: 2% auto;

  float: right;

  display: grid;
  grid-column-gap: 5px;
  grid-row-gap: 5px;

  @for $i from 1 through 28 {
    &.tile#{$i} {
      grid-template-columns: repeat($i, 1fr);
    }
  }

}

.tile {
  background: #ededed;
  font-size: 1.5em;
  &.hint { background: $high; }
  &:after {
    content: "";
    display: block;
    padding-top: 100%;
  }
}

.start, .timer {
  background: $high;
  color: white;
  padding: .5em 1em;
  font-weight: bold;
  font-size: 1.3em;
  border: 1px solid transparent;
  margin-left: 2em;
}

.timer {
  float: left;
  height: 3em;
  width: 3em;
  padding: 1em;
  font-size: 1.5em;
  border-radius: 50%;
  display: inline-block;
}
